<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Thumbimg:</strong>
  <%= @blog.thumbimg %>
</p>

<p>
  <strong>Mainimg:</strong>
  <%= @blog.mainimg %>
</p>

<%  if logged_in?(:admin,:user) %>
  <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>
  <br>
<% end %>



<h2>Comments</h2>
   <div id="comments">
   	  <%= render @blog.comments %>
   </div>

<%= render 'comments/new',post: @blog if logged_in?(:admin,:user) %>